<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scyoung.housepoints">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hourglass"
        android:label="@string/app_name"
        android:logo="@mipmap/hourglass"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PointSettings"
            android:label="@string/title_activity_point_settings"
            android:parentActivityName=".Splash">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.housepoints.Splash" />
        </activity>
    </application>

</manifest>